// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.post_card {
    margin-left: 50px;
    width: 20%;
    background-color: purple;
    border-radius: 5px;
}

.post_card > * {
    padding: 10px;
}

.post_details {
    width: 70%;
    border-radius: 10px;
    margin: auto;
    background-color: purple;
}